<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array/>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6855628375174123~3153483504</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>アラーム動作のために許可が必要です。</string>
	<key>SKAdNetworkIdentifier</key>
	<string>cstr6suwn9.skadnetwork</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchImage</string>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>com.yourdomain.repeatingAlarm</key>
	<string></string>
</dict>
</plist>
