<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array/>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>アラーム動作のために許可が必要です。余計な通知は行いません。</string>
	<key>SKAdNetworkIdentifier</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchImage</string>
	</dict>
	<key>com.yourdomain.repeatingAlarm</key>
	<string></string>
</dict>
</plist>
